@using QueueForChildren.Data.Dtos; 
@model IEnumerable<ChildDto>    

<button id="createChildBtn" type="button" class="btn btn-link p-3">Добавить ребёнка</button>
<table class="table table-hover table-dark">
    <thead>
        <tr>            
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model) {
            <tr>                
                <td>@row.Name</td>
                <td>@row.LastName</td>
                <td>@row.MiddleName</td>
                <td>@row.BirthDate.ToString("dd.MM.yyyy")</td>
                <td><a asp-action="Delete" asp-controller="Child" asp-route-Id="@row.Id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                    </svg>
                    </a>
                </td>
            </tr>
        }       
    </tbody>
</table>

<script type="text/javascript">
    var loader = function () {
        return `<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="spinner-border" role="status">
				<span class="sr-only">Загрузка...</span>
				</div>
				</div>`;
    }

    $('#createChildBtn').on('click', function () {
        $('#content').html(loader());
        fetch('/Child/Create')
            .then(function (data) {
                if (data.ok) {
                    data.text().then(function (text) {
                        $('#content').html(text);
                    })
                }
            })
    });
</script>